* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: grey;
  width: 100vw;
  padding: 63px 25px;
  gap: 47.9px;
  display: grid;
}

.info_box {
  width: 1318px;
  margin: auto;
  display: flex;
  border-radius: 30px;
}

.bio {
  gap: 30px;
}

.icon {
  width: 25%;
  height: 300px;
  background-color: red;
  border-radius: 30px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
}

.biography {
  width: 994.69px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  padding-top: 59px;
  padding-right: 69px;
  padding-bottom: 59px;
  padding-left: 69px;
  gap: 10px;
}

.biography p1 {
  font-weight: 600;
  font-size: 36px;
}

.biography p {
  font-size: 22px;
  line-height: 151%;
  color: #5c5c5c;
}

p1 {
  font-weight: 500;
  font-size: 33.88px;
  line-height: 150%;
}

.skills {
  gap: 50px;
}

.proficiency {
  width: 563.9px;
  height: 428.37px;
  background-color: white;
  border-radius: 30px;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row1 {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  gap: 50px;
}

.level {
  width: 20%;
}

.level_description {
  width: 80%;
}

.row2,
.row3,
.row4,
.row5 {
  display: flex;
  flex-direction: row;
  gap: 46.12px;
}

.lang1,
.lang2,
.lang3,
.lang4 {
  width: 141px;
  font-weight: 500;
  font-size: 24.2px;
  line-height: 104%;
}

.bar1 {
  width: 317.04px;
  background-color: #4a8b70;
  border-radius: 10px;
}

.bar2 {
  width: 232.34px;
  background-color: #4a8b70;
  border-radius: 10px;
}

.bar3 {
  width: 113.75px;
  background-color: #4a8b70;
  border-radius: 10px;
}

.bar4 {
  width: 183.93px;
  background-color: #4a8b70;
  border-radius: 10px;
}

.skill {
  width: 706px;
  height: 429px;
  background-color: white;
  border-radius: 30px;
  padding: 28px;
}

.pill_container {
  display: flex;
  flex-wrap: wrap;
  gap: 19.63px;
  height: 279.53px;
  width: 672.81px;
  margin-top: 39px;
}

.pill {
  background: #4a8b7021;
  border-radius: 96.81px;
  padding-top: 9.68px;
  padding-right: 24.2px;
  padding-bottom: 9.68px;
  padding-left: 24.2px;
  vertical-align: middle;
  height: 55.36px;
  font-weight: 400;
  font-size: 24.24px;
  line-height: 150%;
}
.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 29px;
  padding-right: 29px;
  height: 755px;
  width: 1318px;
  font-family: "Poppins", sans-serif;
}

.projects p1 {
  text-align: center;
}

.projectyears {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  height: 581px;
}

.portweb {
  width: 280px;
  height: 581px;
  background-color: #4a8b70;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.portweb p1 {
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  padding-bottom: 24px;
}

.portweb p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  padding-bottom: 24px;
}

.year_heart {
  display: flex;
  font-weight: 500;
  font-size: 24.24px;
  line-height: 150%;
  padding-bottom: 24px;
}

.yr {
  width: 85%;
}

.heart {
  width: 15%;
}

.podapp {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.podapp p1 {
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  padding-bottom: 24px;
}

.podapp p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  padding-bottom: 24px;
}

.agileboard {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.agileboard p1 {
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  padding-bottom: 24px;
}

.agileboard p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  padding-bottom: 24px;
}

.supercoolproject {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.supercoolproject p1 {
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
  padding-bottom: 24px;
}

.supercoolproject p {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  padding-bottom: 24px;
}

.education {
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.edudates {
  display: flex;
  flex-direction: column;
  height: 847.06px;
  width: 994.69px;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  padding: 29px;
}

.ed1 {
  width: 936.61px;
  height: 242.02px;
  background-color: #4a8b70;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
  color: white;
}

.ed2 {
  width: 936.61px;
  height: 242.02px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
}

.ed3 {
  width: 936.61px;
  height: 242.02px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
}

.ed1date,
.ed2date,
.ed3date {
  width: 30%;
}

.ed1list,
.ed2list,
.ed3list {
  width: 70%;
  font-weight: 400;
  font-size: 19.36px;
  line-height: 150%;
}

.tools {
  width: 300px;
  height: 847.06px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.tooldetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.languages {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
  padding-top: 38.72px;
  padding-bottom: 38.72px;
  padding-left: 9.68px;
  padding-right: 9.68px;
}

.tool1 {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 40%;
}

.tool1list img {
  width: 41px;
  height: 41px;
}

.design {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
}

.tool {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  height: 640px;
  padding-top: 31px;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 27px;
}

.aug {
  width: 100%;
  height: 145px;
  background-color: #4a8b70;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.jan {
  width: 100%;
  height: 145px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}

.feb {
  width: 100%;
  height: 145px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}

.ex1date {
  width: 253px;
}

.ex1list {
  width: 943px;
  font-weight: 400;
  font-size: 19.36px;
  line-height: 150%;
}

.date {
  font-weight: 500;
  font-size: 19.36px;
  line-height: 150%;
}

.title {
  font-weight: 500;
  font-size: 24.2px;
  line-height: 150%;
}

.location {
  font-weight: 400;
  font-size: 19.36px;
  line-height: 150%;
}

footer {
  width: 1322px;
  height: 158px;
  background-color: #d76239;
  margin: auto;
  border-radius: 30px;
  color: white;
  padding: 29.04px;
}

footer p {
  font-weight: 500;
  font-size: 33.88px;
  line-height: 150%;
}

footer span {
  font-weight: 400;
  font-size: 24.2px;
  line-height: 150%;
}
