* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: grey;
  width: 100vw;
  padding: 63px 25px;
  gap: 20px;
  display: grid;
}

.info_box {
  width: 1318px;
  margin: auto;
  display: flex;
  border-radius: 30px;
}

.bio {
  gap: 30px;
}

.icon {
  width: 25%;
  height: 300px;
  background-color: red;
  border-radius: 30px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 30px;
}

.biography {
  width: 994.69px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  padding-top: 59px;
  padding-right: 69px;
  padding-bottom: 59px;
  padding-left: 69px;
}

.skills {
  gap: 30px;
}

.proficiency {
  width: 563.9px;
  height: 428.37px;
  background-color: white;
  border-radius: 30px;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 28px;
  padding-right: 28px;
}

.row1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.level {
  width: 20%;
}

.level_description {
  width: 80%;
}

.row2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.lang1 {
  width: 20%;
}

.bar1 {
  width: 80%;
  background-color: #4a8b70;
  border-radius: 10px;
}

.row3 {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.lang2 {
  width: 20%;
}

.bar2 {
  width: 60%;
  background-color: #4a8b70;
  border-radius: 10px;
}

.row4 {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.lang3 {
  width: 20%;
}

.bar3 {
  width: 20%;
  background-color: #4a8b70;
  border-radius: 10px;
}

.row5 {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.lang4 {
  width: 20%;
}

.bar4 {
  width: 40%;
  background-color: #4a8b70;
  border-radius: 10px;
}

.skill {
  width: 706px;
  height: 429px;
  background-color: white;
  border-radius: 30px;
  padding: 28px;
}

.pill_container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.pill {
  background: #4a8b7021;
  border-radius: 96.81px;
  padding-top: 9.68px;
  padding-right: 24.2px;
  padding-bottom: 9.68px;
  padding-left: 24.2px;
  vertical-align: middle;
}
.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 29px;
  padding-right: 29px;
  height: 755px;
  width: 1318px;
}

.projects h1 {
  text-align: center;
}

.projectyears {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.portweb {
  width: 280px;
  height: 581px;
  background-color: #4a8b70;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.year_heart {
  display: flex;
}

.yr {
  width: 85%;
}

.heart {
  width: 15%;
}

.podapp {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.agileboard {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.supercoolproject {
  width: 280px;
  height: 581px;
  background-color: #e7f0ec;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.education {
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.edudates {
  display: flex;
  flex-direction: column;
  height: 847.06px;
  width: 994.69px;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  padding: 29px;
}

.ed1 {
  width: 936.61px;
  height: 242.02px;
  background-color: #4a8b70;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
}

.ed2 {
  width: 936.61px;
  height: 242.02px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
}

.ed3 {
  width: 936.61px;
  height: 242.02px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 21px;
  padding-right: 21px;
}

.ed1date,
.ed2date,
.ed3date {
  width: 30%;
}

.ed1list,
.ed2list,
.ed3list {
  width: 70%;
}

.tools {
  width: 300px;
  height: 847.06px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.tooldetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.languages {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
  padding-top: 38.72px;
  padding-bottom: 38.72px;
  padding-left: 9.68px;
  padding-right: 9.68px;
}

.tool1 {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 40%;
}

.tool1list img {
  width: 41px;
  height: 41px;
}

.design {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
}

.tool {
  width: 100%;
  background-color: #e7f0ec;
  border-radius: 14px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  height: 640px;
  padding-top: 31px;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 27px;
}

.aug {
  width: 100%;
  height: 145px;
  background-color: #4a8b70;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}

.jan {
  width: 100%;
  height: 145px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}

.feb {
  width: 100%;
  height: 145px;
  background-color: #e7f0ec;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
}

.ex1date {
  width: 20%;
}

.ex1list {
  width: 80%;
}

footer {
  width: 1322px;
  height: 158px;
  background-color: #d76239;
  margin: auto;
  border-radius: 30px;
  color: white !important;
  padding: 29.04px;
}
